/* Styles.css */
@keyframes bgTransition {
  0% {
    background: radial-gradient(to bottom left, #0098f1 100%, white 0%);
  }
  100% {
    background: radial-gradient(to bottom left, #0098f1 0%, white 100%);
  }
}

.hover-effect {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom left, #0098f1 100%, white 0%);
  color: white;
  /* transition: color 2s ease; */
  clip-path: polygon(0 0, 92% 0, 100% 6%, 100% 100%, 0 100%, 0% 50%);
}

.hover-effect:hover {
  animation: bgTransition 2s forwards;
}

.hover-effect h2,
.hover-effect p {
  transition: color 2s ease;
}

.hover-effect:hover h2,
.hover-effect:hover p {
  color: #0098f1;
}

.hover-effect:hover {
  background: white;
  color: #0098f1;
}
